html, body{
	margin:0px; 
	padding:0px;
	height: 100%;
	background-color: white;
}

.body-wrapper {
	min-height: 100%; 
	height: auto !important; 
	height: 100%; 
	margin: 0 auto -40px;
}

.header-wrapper {
	height: 120px;
    text-align: inherit;
    position: relative;
    width: 100%;
    background: #eeeeee;
}

#footer {
	height: 34px;
	padding: 4px;
}

.header-content {
	max-width: 615px; /*ADJUST THIS FOR TITLE WIDTH*/
	height: 120px;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    clear: both;
	display: block;
}

.calculator-image {
    height: 120px;
    width: 120px;
}

.title-text {
	height: 120px;
	width: 470px; /*ADJUST THIS FOR TITLE WIDTH*/
	top: 0px;
	float: right;
	margin: 4px;
	margin-left: 0px;
	font-size: 16pt;
	font-family: 'Vollkorn', serif;
}
.title-text-image {
	/*height: 120px;
	width: 545px;*/
	height: 120px;
	width: auto;
	top: 0px;
	float: right;
	margin: 4px;
	margin-left: 0px;
}

.main {
	padding: 20px;
	width: 800px;
	overflow: hidden;
	position: relative;
	margin-left: auto ;
	margin-right: auto ;
	margin-bottom: 50px;
	background-color: #F7FDFF;
}

.header {
	border-width: medium;
	border-color: black;
	border-style: solid;
	background-color: #9E9E9E;
	padding: 0px;
}

.loan-forgiveness-hidden-input {
	height: 20px;
}

.horizontal-divs {
	float: left;
}

/* begin INPUT NEW LOAN section */
.loans-area {
	margin-top: 5px;
}
.single-loan-row {
	clear: both;
	border-style: solid;
	border-width: thin;
	border-color: #006FA1; /*#ff6600;*/
	background-color: #7BB1C9; /*#5793AD;*/ /*#0099DD;*/ /*#dd4400;*/
	height: 18px;
	padding: 5px;
}
.single-loan-row-locked {
	border-color: #44aff5;
	background-color: #96D8E0;
}
.loan-amount {
	margin-left: 3%;
	float: left;
	width: 30%;
}
.interest-rate-column {
	margin-left: 0%;
	float: left;
	width: 30%;
}
.subsidized-checkbox {
	/*margin-left: 15%;*/
}
.add-edit-loan-button {
	float: right;
	margin-right: 3%;
}
/* end INPUT NEW LOAN section */

.user-input-rectangle {
	border-style: solid;
	border-width: thin;
	border-color: #cccccc;
	background-color: #eeeeee;
}

.textInput {
	width: 45px;
}
.largerTextInput {
	width: 60px;
}
.missing-required-input {
	border-color: #cc0000;
}

.output-bold {
	font-weight: bold;
}

.footer {
	color: gray;
	background-color: #aaaaaa;
    bottom: 0px;
}

.manual-text {
	padding: 20px;
}
/*h2 {
	color: #5555aa;
}*/